.contact {
  padding-top: 5rem;
  height: 100vh;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
  }

  &__title {
    font-size: clamp(1.8rem, 3.5vw, 3rem);
    line-height: 1.6rem;
    text-align: center;
  }

  &__avatar {
    width: 250px;
    height: 100%;
  }
}