.home {
  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: clamp(4rem, 4vw, 7.2rem);
    animation: moveInLeft 3s;
  }
  
}