.home {
  &__container {
   width: 100%;
   margin-top: 25%;
   height: 100vh;
  }

  &__title {
    font-size: clamp(4rem, 4vw, 10rem);
    line-height: 3rem;
  }
  
  &__description {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 4rem;
    width: 80%;
  }
}